.buttons{
    display: flex;
}
.deleteButton{
    font-size: 14px;
    line-height: 22px;
    color: #F5222D;
    border: 1px solid #F5222D;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 6px 17px;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover{
        color: white;
        background-color:#F5222D;
    }
    cursor: pointer;
    outline: none;
}
.editButton{
    margin-left: 12px;
    font-size: 14px;
    line-height: 22px;
    color: #52C41A;
    border: 1px solid #52C41A;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    padding: 6px 17px;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover{
        color: white;
        background-color: #52C41A;
    }
    cursor: pointer;
    outline: none;
}
.hideSure{
    display: none;
}
.sure{
    padding: 8px;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    width: 140px;
    height: 90px;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
}
.sureContainer{
    position: relative;
}
.sureButton{
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    padding: 2px 8px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    &:hover{
        color: white;
        background-color: #1890FF;
        border-color: #1890FF;
    }
    cursor: pointer;
    outline: none;
}
.sureButtons{
    display: flex;
    justify-content: space-around;
}