.headerContainer{
    display: flex;
    justify-content: space-between;
}

.description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    line-height: 22px;
}
.body{
    color: rgba(0, 0, 0, 0.75);
    font-size: 12px;
    line-height: 22px;
}
.container{
    background: #E5E5E5;
    padding: 24px 10vw 0px;
    height: calc(100vh - 80px);
}
.ArticleView{
    padding: 15px 14px 24px 19px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 140px;
    margin-top: 26px;
    border-radius: 5px;
    background-color: white;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}
.descriptionAndButtons{
    display: flex;
    justify-content: space-between;
}
.buttons{
    display: flex;
}